#titlearea {
    background-color: #d82d2d;
    color: #FFFFFF;
}

#projectname {
    font: 150% Tahoma, Arial, sans-serif;
    margin-left: 20px;
    padding: 2px 0px;
}

div.contents {
    margin-left: 25px;
    margin-right: auto;
    width: 680px;
}

.navpath ul {
    /*The file navigation tab bar, 3rd from top.*/
    background-image: none;
}

@media(min-width:768px) {
    .sm-dox {
        padding: 0 10px;
        background-image: none;
        line-height: 36px
    }
}

.tabsearch {
    /*Not sure which one this is...*/
    background-image: none;
}

.navpath ul {
    /*Not sure which one this is...*/
    background-image: none;
}

/* Not sure
.navpath li
{
	color:#000000;
}
*/

div.header {
    /* Main header for each page selected content. */
    color: #666666;
    background-image: none;
    background-color: #FFFFFF;
}

#MSearchBox {
    border-radius: 0;
    box-shadow: none;
}

#main-menu>li:last-child {
    /* This <li> object is the parent of the search bar */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    margin-right: 10em;
}

/*
#MSearchSelect {
    height: none;
    padding: none;
}
*/

/*
#MSearchSelectWindow {
    display: none;
    position: absolute;
    left: 0; top: 0;
    border: none;
    background-color: #F9FAFC;
    z-index: 10001;
    padding-top: 0px;
    padding-bottom: 0px;
    -moz-border-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-box-shadow: none;
}
*/

#MSearchBox .right {
    height: 2em;
}